<h1>Hi {{username}},</h1>
<p>We've received a request to reset your password. 
If you didn't make the request, just ignore this email. 
Otherwise, you can reset tour password using this link:
</p>
<br>
<a href="http://{{href}}/reset-password?token={{token}}">Click here to reset your password</a>